{% extends 'base.html' %}

{% block head_title %}{{ question.title }} || {{ block.super }}{% endblock %}

{% block content %}
    <h3>{{ question }}</h3>
    <p>{{ question.text }}</p>
    <p>Visualizações: {{ question.views }}</p>
    <p>Pontuação: <a class="like-btn" id="like-btn" data-href="{{ question.get_toggle_like_api_url }}" data-likes="{{ question.likes.count }}" href="{{ question.get_toggle_like_url }}"> {{ question.likes.count }} Avaliar</a></p>
    <p>Tags: {{ question.tags }}</p>
    <p>Criado há: {{ question.published|timesince }}</p>
{% endblock  %}

    