{% extends 'base.html' %}

{% block head_title %}{{ question.title }} || {{ block.super }}{% endblock %}

{% block content %}
    <h3>{{ question }}</h3>
    
    {% if user == question.user %}
        <small><p><a href="{% url 'forum:update' question.slug %}">Atualizar</a> 
            <a href="{% url 'forum:delete' question.slug %}">Excluir</a></p></small>
    {% endif %}

    <p>{{ question.text }}</p>
    <p>Visualizações: {{ question.views }}</p>
    <p>Pontuação: <a class="like-btn" id="like-btn" data-href="{{ question.get_toggle_like_api_url }}" data-likes="{{ question.likes.count }}" href="{{ question.get_toggle_like_url }}"> {{ question.likes.count }} Avaliar</a></p>
    <p>Tags: {{ question.tags }}</p>
    <p>Criado há: {{ question.published|timesince }}</p>

    <h3>{{ question.answer_set.count }} Resposta{{ question.answer_set.count|pluralize }}</h3>
    
    <form method="post" action="{% url 'forum:answer' question.slug %}">
        {% csrf_token %}
        <input type="text" hidden name="slug" value="{{ question.slug }}">

        {{ form.as_p }}
        <button type="submit">Responder</button>
    </form>
    <hr>

    {% for answer in question.answer_set.all reversed %}
        <p>{{ answer.text }} </p><br/>
        <p><small> por: {{ answer.user.username }}</small></p>
        <hr>
                
        {% empty %}
        <p>Nenhuma resposta foi publicada.</p>
    {% endfor %}
    
{% endblock  %}

    