{% extends 'base.html' %}

{% block head_title %}Perguntas || {{ block.super }}{% endblock %}

{% block content %}
    <p><h3>Perguntas</h3> <small><a href="{% url 'forum:create' %}" >Adicionar pergunta</a></small></p>

    <form method="get">
        <input type="text" name="query" placeholder="Pesquise aqui..." value="{{ request.GET.query }}">
        <button type="submit">Pesquisar</button>

        <select name="ordering">
            <option value="">Selecione</option>
            <option value="-published">Data</option>
            <option value="-views">Visualização</option>
        </select>

        <button type="submit">Ordenar</button>
    </form>

    </ul>
        {% for question in question_list %}
            <li><a href="{{ question.get_absolute_url }}">{{ question }}</a></li>
        {% endfor %}
    <ul>
        
        
{% endblock  %}
    