{% extends 'base.html' %}

{% block head_title %}{{ question.title }} || {{ block.super }}{% endblock %}

{% block content %}
    <h3>{{ question }}</h3>
    <p>{{ question.text }}</p>
    <p>Visualizações: {{ question.views }}</p>
    <p>Score: <a href="{% url 'forum:like' question.slug %}">Like</a> {{ question.score }} <a href="{% url 'forum:dislike' question.slug %}">Dislike</a></p>
    <p>Tags: {{ question.tags }}</p>
    <p>Criado há: {{ question.published|timesince }}</p>
{% endblock  %}
    